name: run-tests-create-and-push-nuget-package

on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:
    
env:
  PROJECT_PATH: 'src/FluentSeq/FluentSeq.csproj'
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}/output
  NUGET_SOURCE_URL: 'https://api.nuget.org/v3/index.json'
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Setup .NET SDKs for multi-targeting
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore /p:TreatWarningsAsErrors=false

      - name: Static Code Analysis
        run: dotnet tool install --global dotnet-analyzer && dotnet-analyzer analyze src
        if: false # temporarily disable this step, there is more to be done here that this will work

      - name: Test project
        run: dotnet test --configuration Release --no-build --verbosity normal
      
      
      
      - name: Get Version
        uses: bbonkr/get-version-action@v1.3.1
        id: get_version
        with:
          project: ${{ env.PROJECT_PATH }}
      
      - name: Pack project
        run: dotnet pack ${{ env.PROJECT_PATH }} --no-restore --no-build --configuration Release -p:PackageVersion=${{ steps.get_version.outputs.version }} --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

      - name: Push package
        run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg -k ${{ secrets.NUGET_OPEN_SOURCE }} -s ${{ env.NUGET_SOURCE_URL }} --skip-duplicate 